*{
	padding: 0px;
	margin:0px;
}
body{
	background-image: url("../IMG/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto Slab",Helvetica,Arial,sans-serif;
}
.a{
	color:rgb(100,100,100);
	text-decoration: none;
}
a:hover{
	color:rgb(205,100,5);
}
p{
	font-size: 1vw;
}
h1{
	font-size: 2vw;
}
.nava{
	position: fixed;
	background-color: rgb(30,30,30);
	max-height: 100%; 
	height: 100vw;
	width: 25vw;

	display: flex;
  	align-items: center;
}
.link{
	display:inline-block;
	list-style: none;
	margin-left: 20%;
	width: 80%;
	text-align:center;
}
.link li a{
	padding: 1%;
	float:left;
	font-size: 1vw;
	display: block;
}
.menu{
	display:block;
	list-style: none;
	float: right;
	margin-left: 50%;
}
.menu li a{
	padding: 2vw;
	float:right;
	font-size: 1vw;
	display: block;
}
.menu li a:hover{
	border-right: 0.2vw solid white;
}
.header{
	background-color: rgb(30,30,30);
}
#title{
	display: block;
	position: absolute;
	text-align: right;
	color: white;
	/*font-family: Evolution;
	font-style: bold;*/
	font-size: 2rem;
	top:5%;
	left:60%;
}
.rep{
	display: none;
	position: absolute;
	width: 300px;
	left: 10%;
	bottom: 2px;
	text-align: right;
}
.footer{
	text-align: center;
	background-color: rgb(50,50,50);
	padding-top: 4%;
	padding-bottom: 2%;
	position: relative;
	width: 100%;
	bottom: 0px;
}
.footer p{
	color:rgb(100,100,100);
}

@font-face{
	src:url("../FONTS/Evolution.ttf");
	font-family: Evolution;
}